<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<script src="{{ '/assets/js/home.js' | relative_url }}"></script>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="home-wrapper">
        <div class="home">
          <div class="image-slider">
            <img src="/assets/images/BINI.JPG" alt="BINI" class="slide">
            <img src="/assets/images/DISNEY_SEA.JPEG" alt="DISNEY_SEA" class="slide">  
            <img src="/assets/images/EIFFEL_BRIDGE.JPEG" alt="EIFFEL_BRIDGE" class="slide">    
          </div>

          {{ content }}

        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
